.panelWrapper {
    background: #fff;
    border: 1px solid #999;
    border-radius: 3px;
    float: left;
    min-width: 360px;
    min-height: 550px;
    z-index: 100000000;
}
.panelHeader {
    background-color: #eee;
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid;
}

.activityWrapper {
}

.tabPanelBodyWrapper {
    height: 390px;
}

.tabPanelFooterWrapper {
    margin-top: 10px;
}
